<div style="
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
">
  <img style="width:75px;height:75px;" src="<% if (data.multimedia.length >= 3 && data.multimedia[2].subtype == "thumbnail") {return "http://www.nytimes.com/" + data.multimedia[2].url} else {return "https://static01.nyt.com/newsgraphics/2015/11/17/fact-checks/assets/images/nyt.png"} %>">
  <div style="
    margin-left: 0.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  ">
    <span>
      <% return data.headline.main %>
    </span>
    <br>
    <span style="
      color: rgb(111, 111, 111);
      font-weight: 400;
      font-size: 0.9em;
    ">
      <%
        if (data.source) return data.source;
        return 'Source';
      %>
    </span>
  </div>
</div>